<% provide(:title, 'Home') %>

<html>
  <head>
    <title>ToDo <%= yield(:title) %></title>
  </head>
  <body>
    <h1>PSU To Do Projects</h1>
    <p>
	An application by PSU SWENG Team #4
    </p>
  </body>
</html>

