<% provide(:title, 'Home') %>

<html>
  <head>
    <title>ToDo <%= yield(:title) %></title>
  </head>
  <body>
    <h1>To Do Projects</h1>
    <p>
	<%=link_to "Create Account", createaccount_path, class: "btn btn-medium btn-primary" %>
    </p>
  </body>
</html>

