<center>
<table border="0">
<tr>
<td><img src="/assets/PSUicon.jpg" /></td>
<td><h3>New Task</h3></td>
</tr>
</table>
<img src="/assets/myborder.png" />
</center>

<%= render 'form' %>

<%= link_to 'Back', tasks_path %>

<p>
<BR><BR><BR>

<hr width="100%"> 
<b>Edit History:</b>
<%=  current_user.username + ' your last update was ' %>
<%=  time_ago_in_words(current_user.updated_at) %>
