<center>
<table border="0">
<tr>
<td><img src="/assets/PSUicon.jpg" /></td>
<td><h3>Register New User</h3></td>
</tr>
</table>
<img src="/assets/myborder.png" />
</center>

<br>
<%= render 'form' %>

<%= link_to 'Back', home_path %>
