

<header class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <nav>

+<%  if !current_user.nil? %>
	+<b>Edit History:</b>
	<%=current_user.username + ' your last update was ' %>
	+<%=  time_ago_in_words(current_user.updated_at) %>
	+<%  end%>

			<h5>PSU Team 4 SWENG 500</h5>          

      </nav>
    </div>
  </div>
</header>

