

<header class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <nav>

			<h5>PSU Team 4 SWENG 500</h5>          

      </nav>
    </div>
  </div>
</header>

