<!DOCTYPE html>
<html>
<head>
  <title>Task Management ToDo's</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div> <a href="/users">Users</a> | <a href="/user_profiles">User Profiles </a> | <a href="/projects">Projects</a> | 
<a href="/tasks">Tasks</a> | <a href="/comments">Comments</a>
</div>
<%= yield %>

</body>
</html>
